.toc {
  height: 100%;
  /* width: 160px; */
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fbfbfc;
  overflow-x: hidden;
  padding-top: 20px;
}

.toc li {
  padding: 5px 0;
  list-style: none;
}

.toc li a {
  color: #097cbc;
  text-decoration: none;
}

.toc li a:hover {
  color: #728eaa;
}
